/* Code Blocks */

.listingblock {
    page-break-inside: avoid;
}

.listingblock .title {
    background-color: gainsboro;
    padding-left: 1rem;
    font-size: .85em;
}

/* Admonition Blocks */

td.content {
    width: 100%;
}

.icon-note:before {
    content: "📎"
}

.icon-important:before {
    content: "☝️";
}

.icon-caution:before {
    content: "👀";
}

.icon-warning:before {
    content: "⚠️";
}

.icon-tip:before {
    content: "💡";
}